

.product-cart{
    .nav-heading{
        a{
            font-size: .9375rem !important;
            font-weight: 600;
        }
        
    }
    .accordion{
        border-radius: 20px !important;
        padding: 22px 10px !important;
    }
    .payment-method{
        .text-muted{
            font-size: 16px !important;
        }
    }
}

